# Plot Number of Zenodo Links Over Time
In this notebook, we will analyze multiple CSV files in the `download_statistics` folder and plot the number of records over time.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

## Load Data
Read all CSV files from the `download_statistics` directory and count the number of records in each file.

In [2]:
data_folder = Path('..') / 'download_statistics'
files = list(data_folder.glob('*.csv'))

records_count = []
dates = []

for file in files:
    date = file.stem
    data = pd.read_csv(file)
    records_count.append(len(data))
    dates.append(pd.to_datetime(date, format='%Y%m%d'))

## Create DataFrame
Store the collected data in a DataFrame for easy manipulation and plotting.

In [3]:
df = pd.DataFrame({'date': dates, 'record_count': records_count})
df = df.sort_values('date')
df

        date  record_count
5 2024-06-28            34
3 2024-07-11            34
1 2024-08-09            37
4 2024-08-26            40
0 2024-09-03            43
2 2024-09-10            43
6 2024-09-17            43
8 2024-09-24            59
7 2024-10-01            59
9 2024-10-08            59

## Plot Data
Create a plot to visualize the number of records over time.

In [4]:
plt.figure(figsize=(10, 5))
plt.plot(df['date'], df['record_count'], marker='o')
plt.title('Number of Records Over Time')
plt.xlabel('Date')
plt.ylabel('Number of Records')
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig('number_of_records_over_time.png')
plt.close()

## Conclusion
We have successfully plotted the number of records from Zenodo links over time. The plot is saved as `number_of_records_over_time.png`.